.Sidebar > h1 {
}
.items p{
  margin-left: 24px;
}
.item > div{
  margin-bottom: 12px;
}
.items > .item{
  margin-left: 24px;
}

.Sidebar a {
  margin-left: 24px;
  text-decoration: none;
}
.Sidebar a:active {
  color: black;
}
.Sidebar a:link {
  color: black;
}
.Sidebar a:visited {
  color: black;
}
.button {
  margin-left: 48px;
}
.Sidebar button {
  background-color: white;
  border: none;
}
